beautifulsoup4>=4.12.3
numpy>=2.2.2
openai>=1.60.2
pandas>=2.2.3
plotly>=6.0.0
prophet>=1.1.6
psycopg2-binary>=2.9.10
requests>=2.32.3
schedule>=1.2.2
scikit-learn>=1.6.1
sqlalchemy>=2.0.37
streamlit>=1.41.1
trafilatura>=2.0.0